#* @vtlvariable name="timeLeft" type="java.lang.String" *#
<!-- START: xnat-templates/navigations/DefaultTop.vm -->
#if($popup)

#else
#if ($turbineUtils.GetPassedParameter("popup",$data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup",$data) )
#else
	#set ($popup = "")
#end
#end

#if($project)
  #set($projectString="/project/$project")
#end

<script type="text/javascript" src="$content.getURI('scripts/lib/js.cookie.js')"></script>

<style type="text/css">
    #attention_icon { float: left ; padding-top: 7px ; padding-left: 11px ; }
    #attention_icon:hover { cursor: pointer ; }
</style>

<div id="user_bar">
    <div class="inner">
        <img id="attention_icon" src="$content.getURI('images/attention.png')" style="display:none;" alt="attention needed - click for more info" title="attention needed - click for more info">
        #if($last_login)
            <span id="last_login">Last login: $turbineUtils.formatDateTime($last_login)</span>
        #end
        #if($data.getSession().getAttribute("user").getUsername()=="guest")
            <span id="user_info">Logged in as: <span style="color:red;">Guest</span> <b>|</b> <a href="$link.setPage("Login.vm")">Login</a> <b>|</b> <a href="$link.setPage("Register.vm")">Register</a></span>
            <script type="text/javascript">
                Cookies.set('guest','true',{path:'/'});
            </script>
        #elseif($data.getSession().getAttribute("user").getUsername())
        ## use default timeout value from web.xml as the starting text in the "#timeLeft" element
            <span id="user_info">Logged in as: &nbsp;<a href="$link.setPage("XDATScreen_UpdateUser.vm")">$!data.getSession().getAttribute("user").getUsername()</a> <b>|</b><span class="tip_icon" style="margin-right:3px;left:2px;top:3px;">
            <span class="tip shadowed" style="top:20px;z-index:10000;white-space:normal;left:-150px;width:300px;background-color:#ffc;">Your XNAT session will auto-logout after a certain period of inactivity. You can reset that timer without reloading the page by clicking "renew."</span>
        </span>
            ## some kind of default text needs to be there so stuff doesn't shift around before the timer functions kick in
            Auto-logout in: <b id="timeLeft">-:--:--</b> - <a id="timeLeftRenew" href="javascript:" onClick="XNAT.app.timeout.handleOk()">renew</a> <b>|</b> <a id="logout_user" href="$link.setAction("LogoutUser")">Logout</a></span>
            <script type="text/javascript">
                Cookies.set('guest','false',{path:'/'});
            </script>
        #end
        <div class="clear"></div>
    </div>
</div><!-- /user_bar -->

#if ($sessionCount > 1 || $sessionIpCount > 1 )
##If you want fewer warnings, you can eliminate $sessionCount > 1 so it will not display a warning for multiple sessions on the same IP, or increase it to $sessionCount > X where X is the maximum number of sessions you can have on the same IP before you get a warning.
<script type="text/javascript">
    jq(document).ready(function(){

        if (Cookies.get('WARNING_BAR') == 'CLOSED'){
            jq('#attention_icon').show();
        }
        else {
            jq('#warning_bar').show();
        }

        jq('#attention_icon').click(function(){
            jq('#warning_bar').slideToggle(200);
        });

        jq('#warning_bar .close').click(function(){
            Cookies.set('WARNING_BAR','CLOSED',{path:'/'});
            jq('#warning_bar').slideUp(200);
        });

    })
</script>
<div id="warning_bar" style="display:none;">
    <span class="close"><img src="$content.getURI('images/close.gif')"></span>
    <span>
        #if ( $sessionIpCount > 1 )
            ATTENTION: You have $sessionCount sessions open from $sessionIpCount distinct IP addresses.
        <span class="tip_text">(<i>what does this mean?</i>)
            <span class="tip shadowed">
                You may have multiple browsers open or may be logged in from more than one computer. If you believe that someone other than you has logged in to your account, please contact your site administrator immediately.
                The IP addresses are: $sessionIpCsv.
            </span>
        </span>
        #else
            ATTENTION: You have $sessionCount sessions open from one IP address.
        <span class="tip_text">(<i>what does this mean?</i>)
            <span class="tip shadowed">
                There is more than one session open from this computer (at IP address $sessionIpCsv). You could be logged in to XNAT using the same credentials using multiple browsers or from separate user accounts on your computer. If you believe that someone other than you has logged in to your account, please contact your site administrator immediately.
            </span>
        </span>

        #end
    </span>
</div>
#end

<div id="main_nav">

    <ul class="nav">
        #addGlobalCustomScreens("topBar")
    </ul>

    $navigation.setTemplate("XNATQuickSearch.vm")

</div>
<!-- /main_nav -->

<!-- main_nav interactions -->
<script type="text/javascript">

    (function() {

        // cache it
        var main_nav$ = jq('#main_nav');

//        function subnav(items){
//            var lis = [];
//            items.forEach(function(item){
//                lis.push(['li', '<a href="' + item.href + '">' + item.label + '</a>']);
//            });
//            return spawn('li|class=more', [
//                spawn('a', 'More...'),
//                spawn('ul|class=subnav', lis)
//            ]);
//        }
//
//        // spawn a subnav under "New"
//        main_nav$.find('[href="#new"]').next('ul').append(subnav([
//            { href: '#!mr', label: 'MR Session'},
//            { href: '#!pet', label: 'PET Session'},
//            { href: '#!ct', label: 'CT Session'}
//        ]))
//
//
//        // spawn a subnav under "Upload"
//        main_nav$.find('[href="#upload"]').next('ul').append(subnav([
//            { href: '#!json', label: 'JSON'},
//            { href: '#!text', label: 'Text'},
//            { href: '#!html', label: 'HTML'}
//        ]))

        var body$ = jq('body');

        var cover_up_count = 1;

        function coverApplet(el$){
            var cover_up_id = 'cover_up'+cover_up_count++;
            var jqObjPos = el$.offset(),
                jqObjLeft = jqObjPos.left,
                jqObjTop = jqObjPos.top,
                jqObjMarginTop = el$.css('margin-top'),
                jqObjWidth = el$.outerWidth()+4,
                jqObjHeight = el$.outerHeight()+2;

            el$.before('<iframe id="'+cover_up_id+'" class="applet_cover_up" src="about:blank" width="'+jqObjWidth+'" height="'+jqObjHeight+'"></iframe>');

            jq('#'+cover_up_id).css({
                display: 'block',
                position: 'fixed',
                width: jqObjWidth,
                height: jqObjHeight,
                marginTop: jqObjMarginTop,
                left: jqObjLeft,
                top: jqObjTop,
                background: 'transparent',
                border: 'none',
                outline: 'none'
            });
        }

        function unCoverApplets(el$){
            el$.prev('iframe.applet_cover_up').detach();
        }

        function fadeInNav(el$){
//            el$.stop('clearQueue','gotoEnd');
            el$.find('> ul').show().addClass('open');
        }

        function fadeOutNav(el$){
//            el$.stop('clearQueue','gotoEnd');
            el$.find('> ul').hide().removeClass('open');
        }

        // give menus with submenus a class of 'more'
        main_nav$.find('li ul, li li ul').closest('li').addClass('more');
        main_nav$.find('li li ul').addClass('subnav');

        // no fancy fades on hover
        main_nav$.find('li.more').
        on('mouseover',
                function(){
                    var li$ = $(this);
                    fadeInNav(li$);
                    //jq('#main_nav li').removeClass('open');
                    li$.find('ul.subnav').each(function(){
                        var sub$ = $(this);
                        var offsetL = sub$.closest('ul').outerWidth();
                        sub$.css({ 'left': offsetL + -25 })
                    });
                    if (body$.hasClass('applet')) {
                        coverApplet(li$.find('> ul'));
                    }
                }
        ).
        on('mouseout',
                function(){
                    var li$ = $(this);
                    fadeOutNav(li$);
                    if (body$.hasClass('applet')) {
                        unCoverApplets(li$.find('> ul'));
                    }
                }
        );

        // clicking the "Logout" link sets the warning bar cookie to 'OPEN' so it's available if needed on next login
        jq('#logout_user').click(function(){
            Cookies.set('WARNING_BAR','OPEN',{path:'/'});
            Cookies.set('NOTIFICATION_MESSAGE','OPEN',{path: '/'});
        });

    })();
</script>
<!-- end main_nav interactions -->

<div id="header" class="main_header">
    #if($siteConfig.getProperty("siteWideAlertStatus","")=="2")
        <div id="headNotification" class="$siteConfig.getProperty("siteWideAlertType","") hidden" style="margin-bottom: 2em;">
            <span class="closeNotification"><img src="$content.getURI('images/close.gif')"></span>
            <span>$siteConfig.getProperty("siteWideAlertMessage","")</span>
        </div>

        <script>
            if (Cookies.get('NOTIFICATION_MESSAGE') !== 'CLOSED') {
                jq('#headNotification').removeClass('hidden');
            }

            jq('.closeNotification').on('click',function(){
                jq('#headNotification').slideUp().addClass('hidden');
                Cookies.set('NOTIFICATION_MESSAGE','CLOSED',{path: '/'});
            })
        </script>
    #end

    <a id="header_logo" href="$link.setPage("Index.vm")" style="display:none;">
        #parse("/screens/Logo.vm")
    </a>


</div>  <!-- /header -->


<script type="text/javascript">

    (function() {

        var header_logo$ = $('#header_logo');

        // adjust height of header if logo is taller than 65px
        var hdr_logo_height = header_logo$.height();
        if (hdr_logo_height > 65) {
            jq('.main_header').height(hdr_logo_height + 10);
        }

        // adjust width of main nav if logo is wider than 175px
        var hdr_logo_width = header_logo$.width();
        if (hdr_logo_width > 175) {
            jq('#main_nav').width(932 - hdr_logo_width - 20);
        }

        //
        //var recent_proj_height = jq('#min_projects_list > div').height();
        var recent_proj_height = 67 ;
        //jq('#min_projects_list, #min_expt_list').height(recent_proj_height * 5).css({'min-width':349,'overflow-y':'scroll'});

    })();

    logged_in = true ;

    // initialize the advanced search method toggler
    XNAT.app.searchMethodToggler = function(_parent){

        _parent = $$(_parent||'body');

        var INPUTS = 'input, select, textarea, :input',
            SEARCH_METHOD_CKBOXES = 'input.search-method',
            __searchGroups = _parent.find('div.search-group'),
            __searchMethodInputs = _parent.find(SEARCH_METHOD_CKBOXES);

        // disable 'by-id' search groups by default
        __searchGroups.filter('.by-id').addClass('disabled').
            find(INPUTS).not(SEARCH_METHOD_CKBOXES).changeVal('').prop('disabled', true).addClass('disabled');

        // enable 'by-criteria' search groups by default
        __searchGroups.filter('.by-criteria').removeClass('disabled').
            find(INPUTS).prop('disabled',false).removeClass('disabled');

        // check 'by-criteria' checkboxes
        __searchMethodInputs.filter('.by-criteria').prop('checked', true);

        // don't add multiple click handlers
        __searchMethodInputs.off('click');

        // toggle the search groups
        __searchMethodInputs.on('click', function(){

            var method = this.value,
                isChecked = this.checked;

            __searchGroups.addClass('disabled').
                find(INPUTS).not(SEARCH_METHOD_CKBOXES).changeVal('').prop('disabled', true).addClass('disabled');

            __searchGroups.filter('.' + method).removeClass('disabled').
                find(INPUTS).prop('disabled', false).removeClass('disabled');

            // update the radio buttons/checkboxes
            __searchMethodInputs.prop('checked',false);
            __searchMethodInputs.filter('.' + method).prop('checked', true);
            chosenUpdate();
        });
    };

</script>

<script src="$content.getURI("scripts/timeLeft.js")"></script>
<!-- END: xnat-templates/navigations/DefaultTop.vm -->
