#* @vtlvariable name="scan" type="org.nrg.xdat.om.XnatImagescandata" *#
#* @vtlvariable name="user" type="org.nrg.xdat.security.XDATUser" *#
<!-- BEGIN /xnat-templates/screens/xnat_petmrSessionData/edit/scans.vm -->
#set($petscanTypes = $data.getSession().getAttribute("userHelper").getQueryResultsAsArrayList("select DISTINCT isd.type,isd.type from xnat_petmrsessiondata mr LEFT JOIN xnat_experimentData expt ON mr.id=expt.id LEFT JOIN xnat_imagescandata isd ON mr.id=isd.image_session_id LEFT JOIN xdat_meta_element xme ON isd.extension=xme.xdat_meta_element_id WHERE expt.project='$project' AND xme.element_name='xnat:petScanData'"))
#if($petscanTypes.size()==0)
    #set($petscanTypes = $data.getSession().getAttribute("userHelper").getQueryResultsAsArrayList("select DISTINCT isd.type,isd.type from xnat_petscandata mr LEFT JOIN xnat_imagescandata isd ON mr.xnat_imagescandata_id=isd.xnat_imagescandata_id"))
#end

#if($turbineUtils.toBoolean($siteConfig.getProperty("UI.allow-scan-addition","true")))
<DIV class="edit_header1" style="margin-bottom:16px">Scans &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" value="Add Scan" onclick="addScan(this)"/>
</DIV>
#end
<TABLE>
    <thead>
    <TR>
        <TH align=left></TH>
        <TH align=left>Scan</TH>
        <TH align=left>Type <a onclick="xModalMessage('Scan Type', 'If the required value is not in the list, select MORE to show additional options or CUSTOM to add your own value.');"><img border="0" src="$content.getURI("images/qm.gif")"/></a></TH>
        <TH align=left>Quality</TH>
        <TH align=left>Note</TH>
    </TR>
    </thead>
    #set ($scanCounter = 0)
    <tbody id="scan_tbody">
    </tbody>
</TABLE>
<div id="scans" style="position:absolute;top:50px;left:50px;"></div>
<script type="text/javascript" src="$content.getURI("scripts/imageScanData/scan_tools.js")"></script>
<script type="text/javascript">
    jq(function(){
        jq('body').addClass('scans');
    });

    function addScan(_button){
        this.modalitySelector=new scanInit({modalities:[{"value":"xnat:petScanData","display":"PET"},{"value":"xnat:mrScanData","display":"MR"}]});
        this.modalitySelector.onResponse.subscribe(function(){
            var mod=this.modalitySelector.modality;
            var tempScan = window.classMapping.newInstance(mod);
            window.scanSet.new_scans.push(tempScan);
            window.scanSet.onLoad.fire();
        },this,this);

        this.modalitySelector.render();
    }

    var options = new Object();
    options.session_id="$!om.getId()";
    options.types=new Object();

    #if($allowDataDeletion)
    options.allowDataDeletion="$allowDataDeletion";
    #else
    options.allowDataDeletion="true";
    #end

    window.scanSet=new ScanSet(options);
    if(window.classMapping==undefined)window.classMapping=new ClassMapping();
    #set($numScans = $om.getSortedScans().size())
    #if($numScans>0)
        #set ($TOP_SCAN = $numScans - 1)
        #foreach($scani in [0..$TOP_SCAN])
            #set($scan=$om.getSortedScans().get($scani))
            var tempScan = window.classMapping.newInstance("$!scan.getXSIType()");
            tempScan.setProperty("ID","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getId()))");
            #if($scan.getType())
            tempScan.setProperty("type","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getType()))");
            #else
            tempScan.setProperty("type","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getSeriesDescription()))");
            #end
            tempScan.setProperty("quality","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getQuality()))");
            tempScan.setProperty("note","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getNote()))");
            tempScan.setProperty("series_description","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getSeriesDescription()))");

            tempScan.setProperty("startTime","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getStarttime()))");
            tempScan.setProperty("parameters/imageType","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getParameters_imagetype()))");
            tempScan.setProperty("parameters/scanSequence","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getParameters_scansequence()))");
            tempScan.setProperty("parameters/seqVariant","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getParameters_seqvariant()))");
            tempScan.setProperty("parameters/scanOptions","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getParameters_scanoptions()))");
            tempScan.setProperty("parameters/acqType","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getParameters_acqtype()))");
            tempScan.setProperty("frames","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getFrames()))");
            tempScan.setProperty("parameters/flip","$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getParameters_flip()))");

    #if($om.getId())
     	tempScan.stats='$!scan.getFormattedReadableFileStats($user)';
	#else
		tempScan.stats='<div id="scan${scan.getId()}Actions" data-scan-id="$scan.getId()" class="scanActions"></div>';
	#end
            tempScan.setProperty("xnat_imageScanData_id","$!turbineUtils.unescapeParam($!scan.getProperty('xnat_imagescandata_id'))");
            window.scanSet.scans.push(tempScan);

            if(!options.types["$!scan.getXSIType()"]) {
                options.types["$!scan.getXSIType()"]=new Object();
                options.types["$!scan.getXSIType()"].values = new Array();
                options.types["$!scan.getXSIType()"].uri=serverRoot + "/REST/scan_types?table=otherDicomScanData";
                options.types["$!scan.getXSIType()"].containsValue=function(_v){
                    for(var tC=0;tC<this.values.length;tC++){
                        if(this.values[tC].value==_v){
                            return true;
                        }
                    }
                    return false;
                };
                #set($scanTypes = $data.getSession().getAttribute("userHelper").getQueryResultsAsArrayList("select DISTINCT isd.type from xnat_petmrsessiondata mr LEFT JOIN xnat_experimentData expt ON mr.id=expt.id LEFT JOIN xnat_imagescandata isd ON mr.id=isd.image_session_id LEFT JOIN xdat_meta_element xme ON isd.extension=xme.xdat_meta_element_id WHERE expt.project='$project' AND xme.element_name='$!scan.getXSIType()'"))
                #foreach($scanT in $scanTypes)
                    options.types["$!scan.getXSIType()"].values.push({"value":"$!scanT.get(0)","display":"$!scanT.get(0)"});
                #end
            }

            if(!options.types["$!scan.getXSIType()"].containsValue("$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getType()))")){
                options.types["$!scan.getXSIType()"].values.push({"value":"$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getType()))","display":"$!turbineUtils.escapeJS($!turbineUtils.unescapeParam($!scan.getType()))"});
            }
        #end
    #end

    window.scanSet.onLoad.subscribe(function(obj){
        var listing=new scanListingEditor("scan_tbody",this);
        listing.render();
    });

    XNAT.app.sTMod=$turbineUtils.toBoolean($siteConfig.getProperty("UI.allow-scan-type-modification","true"))

    window.scanSet.onLoad.fire();
</script>
<!-- END /xnat-templates/screens/xnat_petmrSessionData/edit/scans.vm -->
