<!-- BEGIN NoninteractiveTop.vm -->
$page.setBgColor($ui.bgcolor)

<div id="user_bar" class="no_menu">
    #if($last_login)
        <span id="last_login">Last login: $turbineUtils.formatDateTime($last_login)</span>
	#end
	#if($data.getSession().getAttribute("user"))
        #if($data.getSession().getAttribute("user").getUsername()=="guest")
            <span id="user_info">Logged in as: <span style="color:red;">Guest</span>
        #elseif($data.getSession().getAttribute("user").getUsername())
        ## use default timout value from web.xml as the starting text in the "timeLeft" element
            <span id="user_info">Logged in as: &nbsp;<i>$!data.getSession().getAttribute("user").getUsername()</i> <b>|</b> <a href="$link.setAction("LogoutUser")">Logout</a></span>
		#end
	#end
    <div class="clear"></div>
</div>


<div id="header" class="main_header">
#if ($expired || $forgot)
        #parse("/screens/Logo.vm")
#else
    <a id="header_logo" href="$link.setPage("Index.vm")#if($data.getParameters().getString('par'))/par/$data.getParameters().getString('par')#end">
        #parse("/screens/Logo.vm")
    </a>
#end
</div>
<!-- END NoninteractiveTop.vm -->
